{{ define "logo" }}
<a href="/#{{ path.Base .Permalink }}" id="logo-laliberte">
	<img src="/images/logo_laliberte.svg?year=2021" alt="Logo de La Liberté">
	<span>
		La Liberté
	</span>
</a>
{{ end }}
{{ define "main" }}

	<article class="detail-article{{ if .Params.landscape_banner }} detail-article-landscapebanner{{ end }}">

		{{ if .Params.banner }}
		<img srcset="{{ .Params.banner | relURL }} 480w,
		{{ if .Params.banner_hd }}{{ .Params.banner_hd | relURL }} 800w{{ end }}"
 sizes="(max-width: 800px) 480px,
		800px" src="{{ .Params.banner | relURL }}" alt="{{ .Title }}" class="detail-article-banner" />
		{{ end }}

		<div class="detail-article-title">
			<h1>
				{{ if .Params.title_style }}
				 <span class="{{ .Params.title_style }}">
				{{ end }}
				{{ .Title }}
				{{ if .Params.title_style }}
				 </span>
				{{ end }}
			</h1>
		</div>

		<aside class="detail-article-aside">
			{{ if .Params.reading_time }}
			  <div class="detail-article-readingtime">
				  <span class="timer"></span>
				  <p class="eiko h3">{{ markdownify .Params.reading_time }}</p>
			  </div>
			{{ end }}
			{{ if .Params.author }}
			  <p class="brik">{{ markdownify .Params.author }}</p>
			{{ end }}
		</aside>

		{{ if .Params.summary }}
		  <p class="detail-article-lead lead formula">{{ markdownify .Params.summary }}</p>
		{{ end }}


		<div class="detail-article-content">
			{{ .Content }}
		</div>

		{{ if .Params.images }}
			<div class="detail-article-images">
			{{ with .Params.images }}{{ range first 2 . }}
				<img src="{{ . | relURL }}" class="detail-article-images-item" loading="lazy" />
			{{ end }}{{ end }}
			</div>
		{{ end }}

		{{ if .Params.videos }}
			<div class="detail-article-video">
				<div id="js-vimeo-embed" style="background-image: url({{ .Params.videos_cover | relURL }}) " class="detail-article-video-frame" data-id="{{ .Params.videos }}">
					<a href="https://vimeo.com/{{ .Params.videos}}" id="js-play-video-link" class="detail-article-video-play-button">
						<span class="play-button">
							<span class="play-button-triangle">
							</span>
						</span>
						<span class="detail-article-video-play-label brik h3">
							{{ $.Site.Params.videoActionLabel }}
						</span>
					</a>
				</div>
			</div>
		{{ end }}
		
		{{ if .Params.footer_image }}
			<div class="detail-article-footer-image-container">
				<img src="{{ .Params.footer_image | relURL }}" alt="" class="detail-article-footer-image" />
			</div>
		{{ end }}

	</article>

	<div class="pagination-container">
		<div class="pagination">
			<h2 class="h3 formula">
				{{ $.Site.Params.circulateNavigationTitle }}
			</h2>
			<nav>
				{{ if .PrevInSection }}
				<a href="{{.PrevInSection.Permalink}}" class="prev">
					<h3 class="{{ .PrevInSection.Params.title_style }} pagination-title h2">
						{{.PrevInSection.Title}}
					</h3>
					<span class="arrow"></span>
					{{ if .PrevInSection.Params.banner_thumb }}
					<img src="{{ .PrevInSection.Params.banner_thumb | relURL }}" alt="{{.PrevInSection.Title}}" class="pagination-item-banner" width="126" height="126" />
					{{ end }}
				</a>
				{{ end }}
				{{ if .NextInSection }}
				<a href="{{.NextInSection.Permalink}}" class="next">
					{{ if .NextInSection.Params.banner_thumb }}
					<img src="{{ .NextInSection.Params.banner_thumb | relURL }}" alt="{{.NextInSection.Title}}" class="pagination-item-banner" width="126" height="126" />
					{{ end }}
					<span class="arrow"></span>
					<h3 class="{{ .NextInSection.Params.title_style }} pagination-title h2">
						{{.NextInSection.Title}}
					</h3>
				</a>
				{{ end }}
			</nav>
			<a href="{{ $.Site.Params.aboutPageSlug | relURL }}" class="nav-link formula">{{ $.Site.Params.aboutPageTitle }}</a>
		</div>
	</div>
{{ end }}
