.fixed-body{
    overflow: hidden;
    user-select: none;
    cursor: grab;
}
.timeline-element{
    background-color: var(--color-brand);
    width: 70vw;
    height: 80%;
    display: flex;
    justify-content: center;
}
.timeline-starter{
    padding: 0 4vw;
    margin-left: 130vw;
    transition: margin-left 0.6s ease-out;
}
.timeline-starter img{
    width: 80vh;
    min-width: calc(var(--berry-unit)*40);
    max-width: calc(var(--berry-unit)*200);
}
.js-body-ready .timeline-starter{
    margin-left: 0;
}

.timeline-element-link{
    color: var(--color-background);
    position:relative;
    display: block;
    width: 100%;
}
.timeline-element-link.hovering .timeline-element-banner{
    border: calc(var(--berry-unit)*2) solid var(--color-brand);
}
.timeline-element-title{
    color: white;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    /* background: linear-gradient(0deg, rgba(0,0,0,200), rgba(0,0,0,200) 5%, rgba(0,0,0,0) 35%); */
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.timeline-element-title>*{
    padding: 0 calc(var(--berry-unit)*6);
    width: 80%;
    max-width: 50vw;
}
.timeline-element-date{
    padding-bottom: calc(var(--berry-unit)*6);
}

.timeline-element-banner{
    filter: contrast(80%);
    box-sizing: border-box;
    transition: border 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 3D folding CSS based on JS init.js */
.js #base-content{
    display: none;
}
.js .screen{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}
.js .fold-scroller{
    height: 100%;
}

.js .fold-content{
    pointer-events: all;
    width: 100%;
}

.js .fold-size-fix{
    width: 100%;
    height: 100%;
}

.js .fold-before .fold-size-fix{
    transform-origin: bottom center;
}

.js .fold-after .fold-size-fix{
    transform-origin: top center;
}

.js .fold{
    overflow: hidden;
    width: calc(20vw + 1px);
    height: 70vh;
    margin-top: -40vh;
    will-change: transform;
}

@media screen and (max-width: 800px){
    .js .fold{
        margin-top: -50vh;
    }
}

.js .wrapper-3d{
    position: relative;
    perspective: 90vw;
    transform-style: preserve-3d;
}

.js .fold-content{
    display: flex;
    height: 100%;
    flex-direction: row;
    width: min-content;
    align-items: flex-end;
}

.js .fold-scroller{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.js .fold-center{
    transform-origin: center center;
}

.js .wrapper-3d{
    position: absolute;
    right: 0;
}


.js .fold-size-fix{
    transform-origin: center center;
    width: calc(100% + 1px);
    /* background-color: #f00; */
}

/*
.js .fold-after{
    position: absolute;
    transform-origin: top center;
    transform: translate3d(-100%, 0, 0) rotateY(80deg);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border: 1px solid green;
}
*/
.js .fold-before{
    position: absolute;
    transform-origin: right center;
    /* transform: translate3d(-100%, 0, 0) rotateY(-80deg); */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.js .fold-before-1{
    transform: translate3d(-550%, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0) rotateY(35deg);
    /* border: 1px solid yellow; */
}

.js .fold-before-2{
    transform: translate3d(-550%, 0, 0) rotateY(-35deg);
    /* border: 1px solid orange; */
}
.js .fold-before-3{
    transform: translate3d(-128.7%, 0, 0);
    /* border: 1px solid red; */
    /* transform-origin: left center; */
    width: calc(70vw + 2px);
}
.js .fold-before-4{
    transform: translate3d(-25%, 0, 0) rotateY(-35deg) translate3d(-136%, 0, 0) rotateY(85deg);
    /* transform: translate3d(18%, 0, 0) rotateY(-35deg) translate3d(-151%, 0, 0) rotateY(90deg); */
    /* border: 1px solid purple; */
}
.js .fold-before-5{
    transform: translate3d(0, 0, 0) rotateY(-35deg) translate3d(-100%, 0, 0) rotateY(35deg);
    /* border: 1px solid blue; */
}

.js .fold-before-1 .fold-scroller{
    transform: translateX(200%);
}
.js .fold-before-2 .fold-scroller{
    transform: translateX(100%);
}
.js .fold-before-3 .fold-scroller{
    transform: translateX(0);
}
.js .fold-before-4 .fold-scroller{
    transform: translateX(-350%);
}
.js .fold-before-5 .fold-scroller{
    transform: translateX(-395%);
}

/* .js .fold-before-1::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
} */

.js .content{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.content__img{
    flex: none;
    display: block;
    height: 100%;
    pointer-events: none;
}
