<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	{{ with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
	<meta property="og:title" content="{{ .Title }}" />
	<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
	<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
	<meta property="og:url" content="{{ .Permalink }}" />
	{{ with .Params.cover }}
	<meta property="og:image" content="{{ . | absURL }}" />
	{{ end }}
	{{ with .Params.images }}{{ range first 6 . }}
	  <meta property="og:image" content="{{ . | absURL }}" />
	{{ end }}{{ end }}
	{{ template "_internal/twitter_cards.html" . }}
	{{ template "_internal/schema.html" . }}
	<link rel="apple-touch-icon" sizes="180x180" href="/icon-256x256.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/icon-192x192.png">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e21a22">
	<meta name="msapplication-TileColor" content="#e21a22">
	<meta name="theme-color" content="#e21a22">

	<link rel="author" href="{{ "humans.txt" | relURL }}" />
	<link rel="manifest" href="/manifest.json">
	<link rel="stylesheet" href="{{ "css/style.css?20211001-0002" | relURL }}">
	<link rel="stylesheet" href="{{ "css/fold.css?20211001-0002" | relURL }}">
	<script>
		document.documentElement.className = document.documentElement.className.replace("no-js","js");
	</script>

	<script>
		if (navigator.serviceWorker) {
			window.addEventListener('load', function() {
				navigator.serviceWorker.register('/sw.js', {
					scope: '/'
				});
				if (navigator.serviceWorker.controller) {
					navigator.serviceWorker.controller.postMessage({'command': 'trimCaches'});
				}
			});
		}
	</script>

	<script src="{{ "js/init.js?20211001-0002" | relURL }}" data-swup-ignore-script></script>
	<script src="{{ "js/swup.js?20211001-0002" | relURL }}" data-swup-ignore-script></script>
	<script defer data-domain="{{ $.Site.Params.Plausible }}" src="https://plausible.io/js/plausible.js"></script>
</head>
<body>
	<header id="swup-header">
		{{ block "logo" . }}
		<a href="/" id="logo-laliberte">
			<img src="/images/logo_laliberte.svg?year=2021" alt="Logo de La Liberté">
			<span>
			La Liberté
		</span>
		</a>
		{{ end }}
		<nav class="a11y-navigation" aria-label="Accessibility navigation">
			<ul>
				<li>
					<a class="sr-only sr-show-on-focus" accesskey="0" href="/" title="[Alt+0] Page d'accueil">Homepage</a>
				</li>
				<li>
					<a class="sr-only sr-show-on-focus" accesskey="2" href="#main" title="[Alt+2] Aller au contenu de la page">Aller au contenu</a>
				</li>
				<li>
					<a class="sr-only sr-show-on-focus" accesskey="2" href="{{ $.Site.Params.aboutPageSlug | relURL }}" title="[Alt+3] Aller à la page {{ $.Site.Params.aboutPageTitle }}">Page {{ $.Site.Params.aboutPageTitle }}</a>
				</li>
			</ul>
		</nav>
		<a href="{{ $.Site.Params.aboutPageSlug | relURL }}" class="nav-link formula">{{ $.Site.Params.aboutPageTitle }}</a>
	</header>
	<main class="swup-transition-main" id="swup">
		{{ block "main" . }}{{ end }}
	</main>
	{{ partial "footer" . }}
	<script>
		const swup = new Swup({
			plugins: [new SwupPreloadPlugin()],
			theme: [new SwupSlideTheme()],
			containers: ["#swup", "#swup-header"]
		});

		init();

		swup.on('contentReplaced', function () {
			init();
			window.scrollTo(0, 0);
		});
	</script>
	<style>
	.swup-transition-main {
	  opacity: 1;
	  transition: opacity 0.3s, transform 0.4s;
	  transform: translate3d(0, 0, 0);
	}
	html.is-animating .swup-transition-main {
	  opacity: 0;
	  transform: translate3d(0, -100px, 0);
	}
	html.is-animating.is-leaving .swup-transition-main {
	  opacity: 0;
	  transform: translate3d(0, 100px, 0);
	}
	html.is-animating.swup-theme-reverse .swup-transition-main {
	  opacity: 0;
	  transform: translate3d(0, 60px, 0);
	}
	html.is-animating.swup-theme-reverse.is-leaving .swup-transition-main {
	  opacity: 0;
	  transform: translate3d(0, -60px, 0);
	}
	</style>
</body>
</html>
