{{ define "main" }}
	{{.Content}}
	<div class="content">
		<div class="fold-content timeline" id="base-content">
			<article class="timeline-element timeline-starter">
				<img src="/images/timeline-title.svg" alt="{{ $.Site.Params.timelineTitle }}">
			</article>
			{{ range $index, $value := where .Site.Pages "Section" "article" }}
			{{ if .Title }}
				{{ if .Params.banner }}
				<article class="timeline-element">
					<a href="{{.Permalink}}" class="timeline-element-link" data-id="{{ $index }}">
						<div class="timeline-element-title">
							<h2 class="h1 h-huge">
								{{ if .Params.title_style }}
								 <span class="{{ .Params.title_style }}">
								{{ end }}
								{{ .Title }}
								{{ if .Params.title_style }}
								 </span>
								{{ end }}
							</h2>
							{{ if .Params.date_display }}
							  <h3 class="timeline-element-date">{{ .Params.date_display }}</h3>
							{{ end }}
						</div>
						{{ if .Params.cover }}
						<img src="{{ .Params.cover | relURL }}" alt="{{ .Title }}" class="timeline-element-banner" loading="lazy"/>
						{{ else }}
							{{ if .Params.banner }}
								<img src="{{ .Params.banner | relURL }}" alt="{{ .Title }}" class="timeline-element-banner" loading="lazy"/>
							{{ end }}
						{{ end }}
					</a>
				</article>
				{{ end }}
			{{ end }}
			{{else}}
			<p>Aucun article</p>
			{{ end }}
		</div>
		<div class="screen" id="fold-effect">
			<div class="wrapper-3d">
				<div class="fold fold-before fold-before-5"></div>
				<div class="fold fold-before fold-before-4"></div>
				<div class="fold fold-before fold-before-3"></div>
				<div class="fold fold-before fold-before-2"></div>
				<div class="fold fold-before fold-before-1"></div>
			</div>
		</div>
	</div>
{{ end }}

